html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font: 100% "YS Text", Arial, sans-serif;
    color: #000;
    background: #fff;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    position: relative;
}
.wrapper {
    position: relative;
    background: #fff;
    display: flex;
    flex: 1;
    width: 100%;
    align-self: center;
    display: -webkit-flex;
}
.main-header {
    background: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.main-header_ul {
    display: flex;
    vertical-align: top;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-header_li {
    display: flex;
}
.main-header_li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.content {
    width: 70%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.content-me {
    align-self: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
    max-height: 310px;
}
.content-me_photo {
    display: flex;
    max-width: 300px;
}
.content-me_info img {
    border: 0;
}
.content-me_info {
    display: flex;
    flex-direction: column;
}
.content-education {
    width: 70%;
    align-self: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
    max-height: 310px;
}
.content-hobby {
    width: 70%;
    align-self: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
    max-height: 310px;
}
.content-call_me {
    width: 70%;
    align-self: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
    max-height: 310px;
}
.footer {
    background: rgba(0,0,0, 0.7);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}