.social {
    font-family: entyporegularnew;
    font-style: normal;
    position: relative;
    cursor: pointer;
    padding: 5px;
    color: #cacaca
}

    .social:hover {
        color: #fff
    }

    .social:before {
        font-size: 20px
    }

.s-facebook:before {
    content: "\00e4"
}

.s-vkontakte:before {
    content: "\00e6"
}

.s-youtube:before {
    content: "\F0"
}
